doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title SignNow
        link(rel="icon" type="image/png" href="https://marketing-static.signnow.com/1018/favicons/apple-touch-icon.png")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet")
        link(rel='stylesheet', href='./css/style.css')
    body
        main
            .container
                .logo-container
                    img(src='./img/logo.svg', alt='logo')
                .form-login
                    h1.form-login__title Sign up for a free trial
                    .social-button
                        a.social-button__item.social-button__item_facebook(href='#') Facebook
                        a.social-button__item.social-button__item_google(href='#') Google
                        a.social-button__item.social-button__item_apple(href='#') Apple
                    .form-login__divider
                        span.form-login__divider-text or sign up using e-mail
                    form.form(action='#')
                        .form__form-row
                            input.form__input.form__input-email(id="email" type='email' name="email" placeholder='email@example.com')
                        .form__form-row
                            input.form__input.form__input-password(id="password" type='password' name="password" placeholder='Enter password')
                        .form__form-row.form__form-row_info
                            input.form__submit-input(type='submit', value='Start your free trial')
                            span.form__submit-span &#x1F389; No credit card required
                    .form-login__additional-info
                        span.additional-login
                            | Already have an account?
                            |
                            a.additional-login__link(href='#') Login
                            |
                            | or
                            |
                            a.additional-login__link(href='#')  Login with SSO
                        p.additional-agree-policy
                            | By proceeding to create your account, you agree to
                            | signNow&apos;s
                            |
                            a.additional-agree-policy__link(href='#') Privacy Policy
                            |
                            |  and
                            |
                            a.additional-agree-policy__link(href='#') Terms of Service
                            |
                            | and opt
                            | to receive marketing communications
            .container
                ul.exchange-list
        script(src='./js/script.js')