doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title Title
        link(rel='stylesheet', href='./css/style.css')
    body
        main
            .container
                .logo-container
                    img(src='./img/logo.svg', alt='logo')
                .form-container
                    h1.form-container__title Sign up for a free trial
                    .button-container
                        a.button-container__item.button-container__item_facebook(href='#') Facebook
                        a.button-container__item.button-container__item_google(href='#') Google
                        a.button-container__item.button-container__item_apple(href='#') Apple
                    .divider-container
                        span.divider-container__divider or sign up using e-mail
                    form.form(action='')
                        .form-group
                            input.form-group__input(type='text', placeholder='email@example.com')
                            input.form-group__input(type='password', placeholder='Enter password')
                        .form-group
                            input.form-group__submit-input(type='submit', value='Start your free trial')
                            span.form-group__submit-span &#x1F389; No credit card required
                    .additional-container
                        span.additional-container__login
                            | Already have an account?
                            a(href='#') Login
                            |  or
                            a(href='#') Login with SSO
                        p.additional-container__agree-policy
                            | By proceeding to create your account, you agree to
                            | signNow&apos;s
                            a(href='#') Privacy Policy
                            |  and
                            a(href='#') Terms of Service
                            |  and opt
                            to receive marketing communications
        script(src='./js/script.js')